      body {
      margin:0;
      font-family: 'Poiret One', cursive;
       background-image: url('background.png');
      color: black;
      text-align: left;
      font-size: 20px
    }


 button {
  color: red;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
 }
.calculator {

  text-align: center;

}
.title {
  text-align:center;
}
.header {
  background-image: url('cover.jpg');
  background-size: cover;
}
.menu{
  background-color: black;
}
.content{
  font-family: sans-serif;
  font-weight: bolder;
  width: 900px;
  margin: auto;
}
@media screen and (max-width: 900px) {
.content{
  width: 100%;
}
}


.footer {
    clear: both;
    text-align: center;
}

ul.topnav {
     
      width: 900px;
      list-style-type: none;
      margin: auto;
      padding: 0;
      overflow: hidden;
    }

    ul.topnav li {float: left;}

    ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
    }

    ul.topnav li a:hover {background-color: #111;}

    ul.topnav li.icon {display: none;}




  	#list {
  		float: left;
  		width: 400px;
  	}
  	#chart {
  		float: left;
  		height: 300px;
  		width: 400px;
  	}

  	/* CSS for text inside chart; text tag will be used inside the chart*/
    text {
  		fill: black !important;
  		font-size: 20px !important;
  	}